Skip to content
This repository
Search
Pull requests
Issues
Gist
 @CalistaKim
 Unwatch 1
  Star 0
 Fork 0 CalistaKim/AngularAgendaSite
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathAngularAgendaSite/main.css
922725a  3 hours ago
@CalistaKim CalistaKim Update main.css
1 contributor
RawBlameHistory     266 lines (228 sloc)  4.63 KB
@import "compass/css3";
@import url(//db.onlinewebfonts.com/c/a6ffc5d72a96b65159e710ea6d258ba4?family=Menlo);

@font-face {font-family: "Menlo";
    src: url("//db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.eot");
    src: url("//db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/a6ffc5d72a96b65159e710ea6d258ba4.svg#Menlo") format("svg");
}
@font-face{
  font-family: "aaargh"
  src: url(../fonts/Aaargh.ttf);
}
@font-face{
  font-family: "giza"
  src: url(../fonts/Giza.otf);
}

/* ----------------------- GENERAL ----------------------- */
.title{
  background: url(../img/flat_background.png)50% 10%/ 100% auto; 
  min-width: 868px;
}

.agenda{
  height: 384px;
  border-bottom:solid thin #F0F0F0;
  box-shadow: 0px 3px 9px #F0F0F0;
}

body {
  background: url(../img/full_sea_.png) 50% 100%/100% auto;
  padding:0;
  margin:0;
}

.todo-wrapper {
  background: #ffffff;
  width: 100%;
}

h2 {
  font-size: 2.5em;
  font-family: giza;
  padding: 40px;
  margin: 0;
  color: #000;
  text-align: center;
 }

.tab {
  font-family: aaargh;
  color: #ffffff;
  padding:8px 0 0 0;
}
.tab p{
  padding-top:2px;
}

.column {
  margin:0;
  padding:0;
  color:#000;
  background:#fff;
}

/* ----------------------- TASK LIST TAB ----------------------- */

#taskListSection{
  background: #55aaf1;
  
  position:relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  /* transforming with a value other than auto to the grandparent element 
  allows the use of fixed positioning to place child elements 
  (clear-btn/add-input) relative to grandparent
  */
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  font-family: aaargh;
  font-size: 1em;
  text-align: left;
  text-indent: 44px;
  padding: 30px;
  background: #ffffff; /* Old browsers */
  list-style-type: none;
  border-bottom:solid thin #55aaf1;
  margin-left: 0px;
  padding-left: 0px;
}

li input[type="checkbox"] {
  width: 40px;
  position:absolute;
  right:20px;
}

.done-true {
  color: #ddd;
}

.clear-btn, .add-input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  font-size: 1em;
}
.add-input {
  float: left;
  background: #ffffff;
  color:#000;
  font-family: aaargh;
  text-align: center;
}

.clear-btn {
  background: #d84e4e;
  color: #ffffff;
  font-family: Menlo;
  text-transform: uppercase;
}
 
/* -----------------------        STEPS TAB       ------------------- */

#stepsSection{
  background: #3183c6;
}

.enter-step, .edit-step{
  width: 100%;
  height: 20px;
  float: left;
  border: none;
  padding: 30px 0;
  font-size: 1em;
  font-family: aaargh;
  text-align: center;
}

.edit-step {
  width:80%;
  padding:0px;
  margin:-7px;
  position: relative;
  float: right;
  text-align: left;
  color:#3183c6;
  top:-12px;

}
ol {
  padding: 0px;
  margin: 0px;
}

ol li {
  padding:6px;
  margin:0px;
  border-bottom: dotted thin #55aaf1;
  list-style-position: inside;
  text-indent: 22px;
}

/* -----------------------        TIMER TAB       ------------------- */

#timerSection{
  background: #81cce4; 
}

#timerCol{
  padding:25px;
  min-height: 300px;
  background:#ffffff;
}
.timer-wrap{
  float:left;
  max-height: 21px;

}
.start-end{
  color:#81cce4;
  font-size: 1.1em;
}
.shrink{
  font-size:0.9em;
  padding-left:30px;
}
.time-container{
  position:relative;
  width:100%;
}

.clock{
  padding-left:15px;
}

.ampm{
  float:left;
  position: absolute;
  top:3px;
  left:160px;
  padding:0;
  margin:0;
  font-size:0.9em;
}
.edit-time {
  width:22px;
  padding:0;
  margin:0;
  position: absolute;
  float: left;
  text-align: center;
  border:none;
  color:#3183c6;
}
#hour{
  top:0px;
  left:90px;
}
#minute{
  top:0px;
  left:115px;
}

.counter{
  padding:20px;
  text-align: center;
  font-size:1.3em;
}
/* -----------------------        RESIZING      ------------------- */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 768px) {
    /* For desktop: when the screen is larger than 768px*/

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}




Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help
